body {
  padding-bottom: 25px;
}
 #tm{

  font-size: 10px;
  float: right;
}

 #greeting{

  font-size: 10px;
  
}
/* Hide body on page load */
.hidden {
  display: none;
}
.highlight:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, .1);
}
h2, h3, h4, h5, p, a {
  color: grey;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a:visited {
  color: grey;
}

a:hover {
  opacity: .8;
}

p {
  font-weight: 400;
  letter-spacing: 2px;
}

ul {
  padding: 0;
}




/* ===== Logo ===== */
#logo h1 {
  font-family: "Playfair display", serif;
  font-weight: 400;
  font-size: 50px;
  color: #C0C0C0;
  text-decoration: underline;
  letter-spacing: -6px;
  position: fixed;
  top: 0;
  left: 25px;
  opacity: .6;
}

#logo h2 {
  position: fixed;
  top: 31px;
  left: 19px;
  font-size: 22px;
  font-weight: 400;
}

#logo h2:hover {
  color: #FF5867;
  opacity: .7;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}




/* ===== Welcome ===== */
#hero {
  background: url('../img/me.jpg') no-repeat;
  background-size: contain;
  overflow: hidden;
  border: 3px solid #E3D7D7;
  border-radius: 50%;
  box-shadow: 0px 1px 15px rgba(0,0,0, .2);
  height: 175px;
  width: 175px;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
}

#welcome {
  max-width: 750px;
  margin-top: 65px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

#welcome p {
  font-size: 1em;
  text-align: center;
  font-weight: 300;
}

#text, #myresume, #resume, #myproject, #project, #contact, #mycontact, #skills, #myskills{
  padding: 0;
  text-align: center;
  /*color: #828181;*/
  text-transform: uppercase;
  font-family: "Playfair display", serif;
  font-size: .75em;
  letter-spacing: 4px;
}

#text, #myresume, #myproject, #mycontact, #myskills {
  padding: 30px;
  display: none;
}

#text, #resume, #project, #contact, #skills {
  cursor: pointer;
}

#text:hover, #resume:hover, #project:hover, #contact:hover, #skills:hover {
  opacity: .8;
  color: #F5566B;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#myskills p, #myskills span {
  text-transform: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}




/* ===== Progress Bar ===== */
.progress-bar {
  text-align: left;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background-image: linear-gradient(to bottom,#FF7789 0,#DCDDDD 100%);
}

.progress-bar > .progress-type {
  padding-left: 10px;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
  border-left-width: 1px;
}

.progress-meter > .meter-right {
  float: right;
  border-right-width: 1px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}




/* ===== Contact ===== */
ul.contact-links {
  list-style-type: none;
  padding-right: 0;
}

.contact-links li {
  display: inline-block;
}

.contact-links img {
  height: 30px;
  width: 30px;
}

#mycontact {
  padding-top: 20px;
}

#mycontact h3 {
  padding-top: 0;
}




/* ===== Email ===== */
.email {
  font-size: 1.35em;
  font-style: italic;
  text-transform: none;
  font-weight: 400;
}

.email:hover {
  color: #F5566B;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}





/* ===== Line break styling ===== */
hr { 
  width: 100px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0); 
}

  


/* ===== Resume ===== */
#resume a, #mycontact a {
  font-family: "Playfair display", serif;
  text-decoration: none;
}
#resume a:hover {
  color: #F5566B;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}




/* ===== Media Queries ===== */
@media only screen and (max-width: 865px) {
  #logo h1 {
    position: absolute;
    top: 0;
    left: 25px;
  }
  #logo h2 {
    position: absolute;
    top: 31px;
    left: 19px;
    font-size: 22px;
  }
  #welcome p, #education p, #myskills span {
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  #welcome p {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 375px) {
  #welcome p {
    font-size: .8em;
    padding-left: 5%;
    padding-right: 5%;
  }  
}
