



.container{ 

margin-top: 180px;}

//  #mycontact{
  
//   background-color: #dd455a;
// }
p {
  font-size: 20px;

  color: grey;
}
#aboutme, #resume, #project, #contact,#skills{
  font-size: 40px;
  color:grey;
  font-family: serif;
  
 
}
#text, #aboutme, #myresume, #resume, #myproject, #project, #contact, #mycontact, #skills, #myskills{
    padding: 5px;
    text-align: center;
    background-color: rbga(255,114,123,.5);
    
    }

#text, #myresume, #myproject, #mycontact, #myskills {
    padding: 50px;
    display: none;
}


body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}

.progress-bar {
  text-align: left;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.progress-bar > .progress-type {
  padding-left: 10px;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
  border-left-width: 1px;
}

.progress-meter > .meter-right {
  // float: right;
  border-right-width: 1px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}

  
