/* Hide body on page load */
.hidden {
  display: none;
}

h2, h3, h4, h5, p, a {
  color: grey;
  font-family: 'Lato', sans-serif;
}

p {
  font-weight: 400;
  letter-spacing: 2px;
}

#logo h1 {
  font-family: "Playfair display", serif;
  font-weight: 400;
  font-size: 55px;
  color: #C0C0C0;
  decoration: underline;
  transform: lowercase;
  text-decoration: underline;
  letter-spacing: -10px;
  position: absolute;
  top: 0;
  left: 25px;
}

#logo h2 {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 30px;
}

#hero {
  background: url('img/me.jpg') no-repeat;
  background-size: contain;
  overflow: hidden;
  border: 4px solid #E3D7D7;
  border-radius: 50%;
  box-shadow: 2px 0px 10px rgba(0,0,0, .1);
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

#welcome {
  max-width: 900px;
  margin-top: 75px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

#welcome p {
  font-size: 1.2em;
  text-align: center;
}

#text, #myresume, #resume, #myproject, #project, #contact, #mycontact, #skills, #myskills{
  padding: 5px;
  text-align: center;
  color: grey;
  font-weight: 400;
  text-transform: uppercase;
}

#text, #myresume, #myproject, #mycontact, #myskills {
  padding: 50px;
  display: none;
}

body.modal-open #wrap{
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
  
.modal-backdrop {
  background: #f7f7f7;
}

.close {
  font-size: 50px;
  display:block;
}




/* ===== Progress Bar ===== */
.progress-bar {
  text-align: left;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background-image: linear-gradient(to bottom,#F92E62 0,#DCDDDD 100%);
}

.progress-bar > .progress-type {
  padding-left: 10px;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
  border-left-width: 1px;
}

.progress-meter > .meter-right {
  // float: right;
  border-right-width: 1px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}




/* ===== line break styling ===== */
hr { 
  width: 250px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #DFC0C0, #f0f0f0); 
}

  
